<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8">

  <!-- Footer Content -->
  <div class="flex flex-wrap space-y-6 mb-4">
    
    <!-- Left Section: Logo and Description -->
    <div class="w-full md:w-5/5 flex flex-col space-y-4 md:pr-8 lg:pr-10">
      
      <a class="flex items-center group" href="{{ .Site.BaseURL }}">
        <!-- Logo -->
        <img src="{{ "images/logo_mediatrue.png" | relURL }}" alt="Mediatrue Logo" class="h-10 w-auto" />
      </a>
      
      <p class="font-semibold">
        Your source for the latest news. Providing in-depth coverage and insightful analysis.
      </p>

      <p>Stay informed with the latest updates and exclusive insights. Our commitment is to deliver accurate and timely news that matters to you. Thank you for visiting.
      </p>

    </div>
    
  </div>

  <!-- Footer Navigation -->
  <div class="my-8">
    <ul class="flex flex-wrap items-center space-x-4">
      {{ range .Site.Menus.main }}
        <li><a class="decoration-auto hover:underline font-semibold" href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>

  <!-- Footer Bottom -->
  <div class="border-t pt-4">
    <p class="text-sm">
      Copyright © {{ now.Year }} Mediatrue. All rights reserved.</a>
    </p>
  </div>
  
</div>
